PORT=3000
DATABASE_URL=postgres://transactions:transactions@localhost:5432/transactions
DB_SYNCHRONIZE=false
RABBITMQ_URL=amqp://<username>:<password>@<host>:<port>/<url_encoded_virtual_host>
RABBITMQ_EXCHANGE=rewards.exchange
