PORT=3001
DATABASE_URL=postgres://rewards:rewards@localhost:5433/rewards
DB_SYNCHRONIZE=false
RABBITMQ_URL=amqp://<username>:<password>@<host>:<port>/<url_encoded_virtual_host>
RABBITMQ_EXCHANGE=rewards.exchange
TRANSACTION_QUEUE=transaction.created.queue
